@use '../base/variables' as v;
.footer{
    background-color: v.$background;
    border-top: 1px solid v.$border;
    text-align: center;
    padding: 16px;
    &__small{
          color: v.$text-muted;
          font-size: 1.6rem;
    }
}