 @use '../base/variables' as v;
 @use '../base' as m;

 .form-busqueda{
        //  * {outline: 1px solid red;}
         max-width: 50rem;
         width: 100%;
         margin: 0 auto;
         padding-inline: 1rem;
      
      &__div{
         display: flex;
         align-items: center;
         background-color: v.$input-bg;
         border-radius: 0.5rem;
         box-shadow: 0 10px 15px -3px v.$shadow;
         padding: 0.7rem;
         gap: 0.5rem;
      }
      &__svg{
            
      }
      &__input[type="text"]{
        flex: 1;
        background: transparent;
        color: v.$text-primary;
        padding: 1rem 1.5rem;
        
        font-family: inherit;
        &::placeholder{
            font-size: .95rem;
            color: #64748b;
        }
        @include m.tablet {
          &::placeholder{
            font-size: 1.6rem;
            
        }
        }
      }
 }