@use '../base/variables' as v;
@use '../base/mixins' as m;

.objetivos{
    padding-inline: 1.6rem;
    background-color: v.$background;
    margin-block: 5rem;

    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 2.5rem;
        
    }
    &__h2{
         
         margin-bottom: 0;
         font-size: 2.5rem;
    }
    &__p{
         font-size: 1.6rem;
         opacity: .75;
    }
    &__contenido{
        max-width: 1280px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 16px
    }
    &__article{
          background-color: v.$card-bg;
          padding: 2rem;
          margin-bottom: 16px;
          border-radius: 0.5rem;                   
          box-shadow: 0px 1px 3px 0 v.$shadow; 
    }
    &__svg{
          color: v.$primary-light;          
          background: rgba(0, 153, 255, 0.3);  
          border-radius: 9999px;               
          width: 64px;                         
          height: 64px;                        
          padding: 16px;   
    }
    &__h3{
         font-size: 1.875rem;
         font-weight: 700;
         color: v.$text-primary;
         margin-bottom: 1rem;
         font-weight: 500;
         text-align: center;
    }
    &__p{
         font-size: 1.3rem;
         color: v.$text-muted;
         max-width: 42rem;
         margin: 0 auto;
         color: v.$text-muted;
    }

}