@use '../base/variables' as v;
@use '../base/mixins' as m;

.jobs-search {
    width: 90%;
    margin: 0 auto;
    height: auto;

    &__h1 {
        font-size: 1.6rem;
        margin-bottom: .25rem;
        justify-content: center;

        @include m.tablet {
            font-size: 3rem;

        }
    }

    &__p {
        font-size: 1.3rem;
        color: v.$text-muted;
        margin-bottom: 1.5rem;
        text-align: center;

        @include m.tablet {
            font-size: 2rem;

        }
    }

    &__span {}

    .form-busqueda--avanzada {
        width: 100%;
        max-width: 1280px;
    }

    .form-busqueda__div--principal {

        margin-bottom: 2rem;

        .form-busqueda__input {
            font-size: 1.6rem;
        }
    }

    .formulario-busqueda__filtros {
        display: flex;
        flex-wrap: wrap;
        margin-top: .5rem;
        gap: 0.5rem;
    }
}


.resultados {
    width: 90%;
    margin: 0 auto;


    &__h2 {
        text-align: center;
        margin-top: 3rem;
    }

    &__jobslistings {
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, .3);
        border-radius: 1rem;
    }

    &__article {
        border-radius: 0;
        padding: 1.6rem;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        display: flex;
        /* valor original */
        flex-direction: column;

        @include m.tablet {
            flex-direction: row;
            align-items: start;
        }

        @include m.desktopXL {
            flex-direction: column;
        }

        gap: 1rem;

        &:last-child {
            border-bottom: none;
            /* elimina la línea del último article */
            border-radius: 0 0 1rem 1rem;
            /* opcional: mantiene las esquinas redondeadas del contenedor */
        }

        &.is-hidden {
            display: none;
        }
    }

    &__h3 {
        margin: 0;
    }

    &__small {
        font-size: 1rem;
        opacity: .75;
    }

    &__p {
        margin-top: 0.5rem
    }

    &__pagination {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-block: 2rem;
    }

    &__a--img {}

    //Imagen del paginado
    &__a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        text-decoration: none;
        color: v.$text-muted;
        border-radius: 0.5rem;
        transition: all .3s;

        &:hover,
        &:focus {
            background-color: #fff;
        }

        &:active {
            transform: scale(0.90);
        }

        &.is-active {
            background-color: v.$primary-light;
            color: white;
            pointer-events: none;
        }
    }

    //Menú del paginado
    &__is--active {}

    //Modificador del menú


}

.isApplied {
    background-color: greenyellow;
}